<a class="pokemon">
    <section class="pokemonStatus">
        <h2>
            Bulbassaur
        </h2>
    
        <ul>
            <li>Grass</li>
            <li>Poison</li>
        </ul>
    </section>

    <section class="pokemonImage">
        <img src="/assets/pokemon.png" alt="Bulbassaur">
    </section>
</a>

<a class="pokemon">
    <section class="pokemonStatus">
        <h2>
            Bulbassaur
        </h2>
    
        <ul>
            <li>Grass</li>
            <li>Poison</li>
        </ul>
    </section>

    <section class="pokemonImage">
        <img src="/assets/pokemon.png" alt="Bulbassaur">
    </section>
</a>
